@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  /* Change your font family */
  font-family: 'Montserrat';
}

.tabela {
  border-collapse: collapse;
  margin: 70px 0;
  font-size: 0.9em;
  min-width: 1200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabela thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

.tabela th,
.tabela td {
  padding: 12px 15px;
}

.tabela tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.tabela tbody tr:hover {
  color: #009879;
}

.botaoeditar:hover a {
  background-color: #ffffff;
  color: #009879;
  font-weight: bold;
}

button a {
  text-decoration: none;
  color: #ffffff;
}


button a:hover {
  text-decoration: none;
  color: #009879;
  font-weight: bold;
}

button {
  background-color: #009879;
  color: #ffffff;
  width: 60px;
  height: 30px;
  border-radius: 5px 5px;
  border-style: solid;
  border-color: #009879;
}

button:hover {
  background-color: #ffffff;
  color: #009879;
  font-weight: bold;
}

.div-tabela {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acoes-th {
  text-align: center;
}

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acoes button {
  margin-left: 5px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #009879;
  margin: -10px;
}

h1 {
  margin: 0;
  padding: 0 30px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 36px 28px;
  text-decoration: none;
}

li a:hover {
  background-color: #026853;
  font-weight: bold;
}

.table-title {
  text-align: center;
  font-size: 1.3em;
}

.active {
  background-color: #026853;
}