.titulo {
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
  color: #353636;
}

.tabela {
  margin: 25px 0;
  margin-top: 10px;
  font-family: Verdana;
  font-size: 14px;
}

.tabela thead tr {
  background-color: lightslategray;
  color: white;
  font-size: 22px;
}

.tabela th,
.tabela td {
  padding: 12px 15px;
}

.tabela tbody tr:nth-of-type(even) {
  background-color: lightgray;
}

.tabela tbody tr:last-of-type {
  border-bottom: 2px solid #353636;
}